.error404 {
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    background-color: #1890ff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(174, 190, 205, 0.3);
  }
}
